
*{
    box-sizing: none;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordeon{
    width: 600px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
    margin-bottom: 30px;
}

.accordeonTitle{
    display: flex;
    justify-content: space-between;
}

.active{
    display: none;
}

button{
    border: none;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.accordeonTitle{
    font-size: 20px;
    color: orangered;
    letter-spacing: 2px;
}

.accordeonText{
    border-top: 1px solid black;
    padding: 20px 0px;
}